.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.col-9 {
  width: 65%;
  margin-left: 15%;
  background-color: violet;
}
.vk{
  
  text-align: start;
  padding: 10px;
  background-color:rgb(80, 24, 80);
}
.fc
{
  color:aliceblue;
}
#rating
{
  color: gold;
  font-size: 12px;
}
#des{
  font-size: 10px;
}
#co
{
  height:400px;
  width:50%;
 
}
#c1
{
  height:100;
  width:100;
}
#sug
{
  margin: 2px;
  border: 2px #282c34 solid;
}
#sug1
{
  border-right: 2px #282c34 solid;
}

  table {
    border: 2px solid black;

  }
  th, td {
    padding: 15px;
  }
  #bo
  {
border-radius: 0%;
  }
  img {
    top: 30px;
    height: 65px;
    width: 100px;
  }
  a {
    font-size: 12px;
    text-decoration: dashed;
  }
  button {
    width: 150px;
  }
  #om
  {
    color:white;background-color:black;border: solid black 3px;padding: 2% 5%;font-family:Arial, Helvetica, sans-serif ;
  }
  #om1
  {
    color:white;font-size:10px;text-align:end;position:static;margin-bottom: 0;
  }
  #om2{
    color:white;font-size:10px;text-align:end;position:static;margin-bottom: 0;
  }
  #om3
  {
    font-size:13px;color:white;text-align: left;
    
  }
  #om4
  {
    text-align: left; color:white;display:flex;gap:60px;align-items:start;justify-content:start;
  }
  #om5
  {
    text-align: left; color:white;font-weight: bold;font-size:11px;margin-bottom: 10px;
  }
  #om6
  {
    text-align: left; color:white;background-color:#3483eb;height:40px;width:40%;color:white;border:0px #3483eb solid ;
  }
  #om7
  {
    text-align: left; font-size:10px;  color:white;
  }
  #om8
  {
    text-align: center; 
    background-color: aqua;
    border: transparent;
  }
  #om9
  {
    text-align: left; 
    color:white;
    font-size: 11px;
  }
  #om10
  {
    text-align:end;position:static;margin-bottom: 0; 
    color:white;
  }
  body{
    padding: 10px;
  }
  #search
  {
    text-align: left;
    display:flex;
    align-items: center;
    justify-content: center;
    
  }
  #search1
  {
    
  height:75px;
  }
  #feedback
  {
    color: red;
  }
  #ac
  {
    height: 40px;
    width:60px;
  }
  /*
  #topbar{
  height: 100px;
  background-color: Beige;
  width: 75%;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  padding: 20px;
  
  }#hole{
  padding-top:5%;
  padding-left:20%;
  }
  #div{
  padding-left:47% ;
  text-shadow: 2px 2px #ff0000;
  font-size: 40px;
  font-weight:900;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  /* color:#a60505;
  } */ 
  
  
  #vi
  {
    background-color: aqua;
  }
  #inputbutton{  
  background-color: white;
  background-image: url("search.png");
  text-align: center;
  background-size: 20px;
  background-position: 2px;
  background-repeat: no-repeat;
  font-size: 40px;
  width:30px;
  height:25px;
  
  border-color:transparent;
  color:transparent;
  border: 1px black solid;
  
  }
  
